<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jojo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        function refreshPage() {
            location.reload(); // Перезагружает текущую страницу
        }
    
        // Устанавливаем таймер на 5 минут (300000 миллисекунд)
        setTimeout(refreshPage, 5000);
    </script>
</head>
<body>
    <!-- <div class="content"> -->
    <div class="table-container">
        <table id="editableTable">
            <thead>
                <tr>
                    <th>Позиция</th>
                    <th>План (день)</th>
                    <th>Осталось продать за день</th>
                    
                </tr>
            </thead>
            <tbody>    
                {% for el in data_prod %}
                        <tr>
                            <td>{{el['item']}}</td>
                            {% set planDay = el['planDay'] | int %}
                            <td>{{"{:,.0f}".format(planDay).replace(',', '.')}}₽</td>
                            {% set factDay = el['factDay'] | int %}
                            <td>{{"{:,.0f}".format(factDay).replace(',', '.')}}₽</td>
                            
                        </tr>
                {% endfor %}   
            
            </tbody>
        </table>
           
    </div>
    <img class="logo" src="{{ url_for('static', filename='icon.png') }}">
</body>
</html>
